.transactions-container {
    max-width: 900px;
    margin: 0px auto;
    padding: 30px;
    background: #fdf7e3;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
    border: 1px solid #e0e0e0;
}

.transactions-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #8b4513;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

th {
    background-color: #d59e76;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

tr:hover {
    background-color: #f8f8f8;
}

.stock-in {
    background: #d4edda;
    color: green;
    font-weight: bold;
}

.stock-out {
    background: #ffcccc;
    color: red;
    font-weight: bold;
}