.search-filter-container {
    max-width: 900px;
    margin: 0px auto;
    padding: 30px;
    background: #fdf7e3; 
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
    border: 1px solid #e0e0e0; 
}

.search-filter-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #8b4513; 
}

.search-inputs, .filter-options {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.search-inputs input, .search-inputs select, .filter-options select {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
    transition: border-color 0.3s ease;
}

.search-inputs input:focus,.search-inputs select:focus, .filter-options select:focus {
    border-color: #d59e76; 
    outline: none;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.stock-table th, .stock-table td {
    padding: 12px;
    border: 1px solid #e0e0e0; 
    text-align: left;
}

.stock-table th {
    background-color: #d59e76; 
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.stock-table tr:hover {
    background-color: #f8f8f8; 
}

.expired {
    background-color: #ffcccc; 
}

.nearing-expiry {
    background-color: #ffdb99; 
}

.safe {
    background-color: #d4edda; 
}
